/* CSS Custom Properties */
:root {
  --backdrop: #ffffff;
  --shape-big: #3370ff;
  --shape-small: #c1d3ff;
  --interactable: #c0ebff;
  --hover: #d1ffd7;
  --accent: #00bc19;
  --error: #ff0000;
  --text-light: #b7bedf;
  --text-dark: #0f183f;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: var(--text-dark);
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 3vmin;
  height: 100vh;
}

#root {
  height: 100%;
}

a, Link {
  text-decoration: none;
  background-color: var(--interactable);
}

a:hover, Link:hover {
  background-color: var(--hover);
}

button, a.button {
  /* font-weight: bold; */
  text-decoration: none;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 1vmin;
  color: var(--backdrop);
  background-color: var(--accent);
  border: .1vmin solid var(--text-dark);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: #e7e7e7;
  color: #a3a3a3;
}

.form-container {
  width: 80%;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2vmin;
  padding-left: 1.5vmin;
  margin-right: 5vmin;
}

input {
  height: 4vh;
}

.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .1vmin solid black;
  width: fit-content;
  padding: 1vmin;
}
.admin-form label {
  display: block;
}

.big-form {
  display: block;
}

.big-form input, .big-form textarea {
  width: 100%;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.fullNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.loggedInUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: var(--error);
  font-size: 3vmin;
  margin: 8vmin;
}

table {
  background-color: var(--shape-small);
  margin: auto;
  height: 9vh;
  width: 100%;
  border: .1vmin solid var(--text-dark);
}

table td {
  border: .1vmin solid var(--text-dark);
  min-width: 10rem;
  background-color: var(--backdrop);
}

.chart-container {
  
  overflow-x: scroll;
}

.first-column {
  /* position: sticky; */
  /* border: .1vmin solid var(--accent);
  position: absolute;
  right: 80vw;
  text-align: right; */
}




.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.align-left {
  text-align: left;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  display: flex;
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}


@media (min-width: 900px) {
  .chart-container {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}

